<p>{{ memePost |json }}</p>
<div class="flex-wrapper-detail">

    <div class="flex-detail-container">
        <div class="detail-name">
            <h1>{{ memePost.title }}</h1>
        </div>
        <div class="detail-image">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quas rerum aperiam ea facere vel reprehenderit autem laboriosam iusto soluta cupiditate eveniet magni, repellat numquam, fugiat veritatis. In, placeat laboriosam?</h2>
        </div>
    </div>

    <div class="flex-detail-container">
        <div class="thicc-image">
            <img class="the-long-boi" [src]='memePost.url'>
        </div>
    </div>

</div>