.the-long-boi {
    height: 600px;
    width: 500px;
}

.flex-wrapper-detail {
    display: flex;
    justify-content: space-around;
}

.flex-detail-container {
    display: flex;
    flex-direction: column;
}