#pill-button {
    margin: 20px 0 0 38px;
    padding: 2px 75px 2px 75px;
    cursor: pointer;
    border-radius: 16px;
    color: blue;
    font-weight: lighter;
    
}
.filterList{
    margin: 1em auto;
}
