<div uk-slideshow="animation: push" class="prova">

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

        <ul class="uk-slideshow-items">
            <li>
                <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent" src="../../../assets/images/logohome.jpeg" alt="" uk-cover>
                <p>diomeo</p>
            </li>
            <li>
                <img class="uk-align-center uk-align-right@m uk-margin-remove-adjacent" src="../../../assets/images/ultrameme.png" alt="" uk-cover>
                <p>diomeo</p>
            </li>
        </ul>
        <p>diomeo</p>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    </div>

    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>