<div uk-slideshow="animation: slide">

  <div class="uk-position-relative uk-visible-toggle " tabindex="-1">

    <ul class="uk-slideshow-items">
      <li>
        <div class="grid-container-homepage">
          <div class="grid-item-homepage-1">
              <h1>memestagram</h1>
              <p class="big-text"> qui seconda slide Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sint qui sit ea unde amet explicabo a distinctio velit corrupti.</p>
              <ul class="uk-slideshow-nav uk-dotnav uk-flex-center "></ul>
            </div>
          <div class="grid-item-homepage-2">
              <img src="https://source.unsplash.com/random" alt="">
          </div>
        </div>
      </li>
      <li>
        <div class="grid-container-homepage">
          <div class="grid-item-homepage-1">
              <h1>memestagram</h1>
              <p class="big-text"> qui seconda slide Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sint qui sit ea unde amet explicabo a distinctio velit corrupti.</p>
              <ul class="uk-slideshow-nav uk-dotnav uk-flex-center "></ul>
            </div>
          <div class="grid-item-homepage-2">
              <img src="../../../assets/images/meme-logo.jpg" alt="" uk-img>
          </div>
        </div>
      </li>
      <li>
        <div class="grid-container-homepage">
          <div class="grid-item-homepage-1">
              <h1>memestagram</h1>
              <p class="big-text">qui terza slide dolor sit amet consectetur adipisicing elit. Expedita sint qui sit ea unde amet explicabo a distinctio velit corrupti.</p>
              <ul class="uk-slideshow-nav uk-dotnav uk-flex-center "></ul>
            </div>
          <div class="grid-item-homepage-2">
              <img src="https://source.unsplash.com/random" alt="">
          </div>
        </div>
      </li>
    
    </ul>




  </div>

  

</div>
