div.spacer {
    flex: 1 1 auto;
    margin-right: 20px;
}

a {
    list-style: none;
    text-decoration: none;
    color: white;
    opacity: 1.0;
}

.cerca{
    ::ng-deep.mat-form-field-wrapper {
        padding-bottom: 0!important;
    }
    ::ng-deep.mat-form-field-underline {
        
        display: none!important;
    }
}
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}