<nav mat-tab-nav-bar *ngIf="currentRoute!== '/auth/login' ">
    <ng-container *ngIf="currentRoute!== '/auth/register'">
        <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
      {{link.label}}
    </a>
        <button mat-button (click)='signOut()'>Esci</button>
        <ng-container *ngIf="currentRoute == '/memes'">
            <mat-form-field appearance="fill" class="cerca">
                <mat-label>cerca</mat-label>
                <input matInput #filterInput (change)="filter(filterInput.value)">
              </mat-form-field>
        </ng-container>
        <div class="spacer"></div>
        <img src="../assets/logo.png" />
    </ng-container>
</nav>
<router-outlet></router-outlet>