.example-header-image {
    background-size: cover;
    width: 100px;
}
.bg-color{
    background-color: white;
}

.example-card {
    width: 300px;
    height: 400px;
    background: rgb(0, 107, 255);
    background: linear-gradient(90deg, rgba(0, 107, 255, 1) 0%, rgba(0, 191, 255, 1) 89%);
    -webkit-box-shadow: -10px -10px 0px 0px #43779F;
    -moz-box-shadow: -10px -10px 0px 0px #43779F;
    box-shadow: -10px -10px 0px 0px rgb(127,182,255);
    
}

.example {
    width: 250px;
    height: 35px;
    background: rgb(0, 107, 255);
    background: linear-gradient(90deg, rgba(0, 107, 255, 1) 0%, rgba(0, 191, 255, 1) 89%);
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.testo {
    color: white;
    
}

#system{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pill-button {
    margin-top: 2em;
    padding: 2px 70px 2px 70px;
    cursor: pointer;
    border-radius: 16px;
    color: blue;
    font-weight: lighter;
    width:100%;
    
}

.card-login {
    position: relative
}

.done {
    position: absolute;
    top: 40px;
    right: -30px;
}

.icons {
    font-size: 1.7em;
    color: white;
}

.username {
    color: white;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}

 ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
}

 ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;
    ;
}

input::-webkit-input-placeholder {
    color: white;
}

.iconawhite{
    color:white!important;
    text-decoration: none;
}

::ng-deep .mat-slide-toggle-content{
    color: white;
   }