<div class="uk-container uk-container-small uk-position-center grid-container">
    <h2 class="h2-profile-1">Benvenuto</h2>
    <h2 class="h2-profile-2"><b>Luca Alicata</b></h2>
    <img class="avatar-image" width="140" height="140" src="../../../assets/avatar.png">
    <form class="example-form" style="color:white;">
        <div class="input-container" style="color:white;">
            <mat-form-field id="white-just-make-it-white-please-1" class="example-full-width" style="color:white;" appearance="fill">
                <mat-label style="color:white;">Nome</mat-label>
                <input style="color:white;" id="white-just-make-it-white-please" type="text" matInput placeholder="Luca">
            </mat-form-field>

            <mat-form-field id="white-just-make-it-white-please" class="example-full-width" style="color:white;" appearance="fill">
                <mat-label style="color:white;">Cognome</mat-label>
                <input type="text" matInput placeholder="Alicata">
            </mat-form-field>

            <mat-form-field id="white-just-make-it-white-please" class="example-full-width" style="color:white;" appearance="fill">
                <mat-label style="color:white;">Gender</mat-label>
                <input type="text" matInput placeholder="Maschio" style="color:white;">
            </mat-form-field>

            <mat-form-field id="white-just-make-it-white-please" class="example-full-width" style="color:white;" appearance="fill">
                <mat-label style="color:white;">Email</mat-label>
                <input type="email" matInput placeholder="Luca@gmail.com" style="color:white;">
            </mat-form-field>

            <mat-form-field id="white-just-make-it-white-please" class="example-full-width" style="color:white;" appearance="fill">
                <mat-label style="color:white;">Telefono</mat-label>
                <input type="tel" matInput placeholder="345 678 9012" style="color:white;">
            </mat-form-field>
        </div>
        <button id="pill-button-1" class="mat-raised-button">Annulla</button> <button id="pill-button-1" class="mat-raised-button">Conferma</button>
    </form>



</div>