<div class="uk-container uk-container-small uk-position-center flex-container">
    <h2 class="h2-profile-1">Benvenuto</h2>
    <h2 class="h2-profile-2"><b>Luca Alicata</b></h2>
    <img class="avatar-image" width="140" height="140" src="../../../assets/avatar.png">
    <form class="example-form">

        <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input type="text" matInput placeholder="Luca">
            <mat-icon matPrefix class="mat-icon">call</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width"></mat-form-field>
        <mat-label>Cognome</mat-label>
        <input type="text" matInput placeholder="Alicata">
        <mat-icon matPrefix class="mat-icon">call</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width"></mat-form-field>
        <mat-label>Gender</mat-label>
        <input type="text" matInput placeholder="Maschio">
        <mat-icon matPrefix class="mat-icon">call</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width"></mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Luca@gmail.com">
        <mat-icon matPrefix class="mat-icon">call</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width"></mat-form-field>
        <mat-label>Telefono</mat-label>
        <input type="tel" matInput placeholder="345 678 9012">
        <mat-icon matPrefix class="mat-icon">call</mat-icon>
        </mat-form-field>

    </form>
    <button id="pill-button" class="mat-raised-button">Annulla</button> <button id="pill-button" class="mat-raised-button">Conferma</button>


</div>