<div uk-slideshow="animation: slide">

  <div class="uk-position-relative uk-visible-toggle " tabindex="-1">

    <ul class="uk-slideshow-items">
      <li>
        <div class="grid-container-homepage">
          <div class="grid-item-homepage-1">
              <h1>memestagram</h1>
              <p class="big-text"> qui prima slide Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sint qui sit ea unde amet explicabo a distinctio velit corrupti.</p>
              <ul class="uk-slideshow-nav uk-dotnav uk-flex-center "></ul>
            </div>
          <div class="grid-item-homepage-2">
            <iframe src="https://giphy.com/embed/PK1YQhAoBOpP2" width="480" height="240" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
          </div>
        </div>
      </li>
      <li>
        <div class="grid-container-homepage">
          <div class="grid-item-homepage-1">
              <h1>memestagram</h1>
              <p class="big-text"> qui seconda slide Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita sint qui sit ea unde amet explicabo a distinctio velit corrupti.</p>
              <ul class="uk-slideshow-nav uk-dotnav uk-flex-center "></ul>
            </div>
          <div class="grid-item-homepage-2">
            <iframe src="https://giphy.com/embed/WpIPS0DWNpMm4kfMVr" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
          </div>
        </div>
      </li>
      <li>
        <div class="grid-container-homepage">
          <div class="grid-item-homepage-1">
              <h1>memestagram</h1>
              <p class="big-text">qui terza slide dolor sit amet consectetur adipisicing elit. Expedita sint qui sit ea unde amet explicabo a distinctio velit corrupti.</p>
              <ul class="uk-slideshow-nav uk-dotnav uk-flex-center "></ul>
            </div>
          <div class="grid-item-homepage-2">
            <iframe src="https://giphy.com/embed/ypqHf6pQ5kQEg" width="439" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
          </div>
        </div>
      </li>
    
    </ul>




  </div>

  

</div>
