<div class="uk-container uk-container-small uk-position-center grid-container">
    <h2 class="h2-profile">Benvenuto</h2>
    <h2 class="h2-profile"><b>Luca Alicata</b></h2>
    <img class="uk-border-circle" width="185" height="185" src="../../../assets/avatar.png">
    <div class="flex-container-profile">
        <div class="profile-flexitem-1">
            <p>Nome</p>
            <p>Cognome</p>
            <p>Gender</p>
            <p>Email</p>
            <p>Telefono</p>
        </div>
        <div class="profile-flexitem-2"></div>
        <div class="profile-flexitem-3">
            <p>Luca</p>
            <p>Alicata</p>
            <p>Maschio</p>
            <p>Luca@gmail.com</p>
            <p>345 678 9012</p>
        </div>
    </div>
    <button id="pill-button" class="mat-raised-button">Modifica</button>



</div>