<div class="uk-container uk-container-small uk-position-center grid-container">
    <h2 class="h2-profile-1">Benvenuto</h2>
    <h2 class="h2-profile-2"><b>{{currentUser.nome}} {{currentUser.cognome}}</b></h2>
    <img class="avatar-image" width="140" height="140" src="../../../assets/avatar.png">
    <div class="flex-container-profile">
        <div class="profile-flexitem-1">
            <p>Nome</p>
            <p>Cognome</p>
            <p>Gender</p>
            <p>Email</p>
            <p>Telefono</p>
        </div>
        <div class="profile-flexitem-2"></div>
        <div class="profile-flexitem-3">
            <p>{{ currentUser.nome }}</p>
            <p>{{ currentUser.cognome }}</p>
            <p>{{ currentUser.sesso }}</p>
            <p>{{ currentUser.email }}</p>
            <p>{{ currentUser.telefono }}</p>
        </div>
    </div>
    <a routerLink="/manage/editProfile" routerLinkActive="active" id="pill-button" class="mat-raised-button">Modifica</a>
</div>