#pill-button {
    margin: 0 auto;
    padding: 2px 75px 2px 75px;
    cursor: pointer;
    border-radius: 16px;
    color: blue;
    font-weight: lighter;
    display: flex;
    
    
}
.filterList{
    margin: 1em auto;
}
.uk-container-large{
    background: rgb(0,107,255);
    background: linear-gradient(90deg, rgb(0, 107, 255) 0%, rgb(0, 191, 255) 89%);
}
.bg_color{
    background: rgb(0,107,255);
    background: linear-gradient(90deg, rgb(0, 107, 255) 0%, rgb(0, 191, 255) 89%);
}