/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.h2-profile-1 {
    font-weight: lighter;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 0;
    margin-bottom: 0px;
}

.h2-profile-2 {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.avatar-image {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    border-radius: 50%;
}

.flex-container-profile {
    display: flex;
    padding-left: 55px;
    padding-top: 2em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.profile-flexitem-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: lighter;
}

.profile-flexitem-2 {
    border-left: 1px solid blue;
    height: 320px;
    margin-left: 20px;
    margin-right: 20px;
}

.profile-flexitem-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}

#pill-button {
    margin: 20px 0 0 0;
    padding: 2px 70px 2px 70px;
    cursor: pointer;
    border-radius: 16px;
    color: blue;
    font-weight: lighter;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-self: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: center;
    display: flex;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: flex;
}

.example-full-width {
    width: 100%;
}