html,
body {
    height: 100%;
    color: white;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: rgb(0, 107, 255);
    background: linear-gradient(90deg, rgba(0, 107, 255, 1) 0%, rgba(0, 191, 255, 1) 89%);
}
#pill-button {
    margin: 0 auto;
    padding: 2px 75px 2px 75px;
    cursor: pointer;
    border-radius: 16px;
    color: blue;
    font-weight: lighter;
    display: flex;
    
    
}